#container {
    width: 780px;
    margin: 0 auto;
    background-color: white; 
    padding: 20px;
    border-radius: 10px; 
    border: 5px solid #a094e4;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}

#container h1, #container h2, #container h3, #container p, #container ul, #container li {
    margin: 0;
    padding: 0;
}




body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}


body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    padding: 20px;
    font-size: 16px;
}

header {
    background-color: #a094e4;
    color: white;
    text-align: left;
    padding: 20px;
}

header h1 {
    font-size: 36px;
}

section {
    background-color: white;
    margin: 30px 0;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #a094e4;
    font-size: 24px;
    margin-bottom: 10px;
}

ul {
    list-style-type: none;
}

li {
    margin-bottom: 20px;
}

img {
    width: 140px;
    
}

header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start; 
}

.element-gauche {
    flex: 1;
}

.element-droite {
    flex: 0;
}


.element-gauche h1,
.element-gauche p {
    margin: 0; 
}

